/* styles.module.css */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #800080; /* Couleur pourpre */
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: #660066; /* Couleur pourpre plus foncée au survol */
  transform: scale(1.1);
}
